@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

.font_1 {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}

.font_2 {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 47, 83);
}

.font_3 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}

.center {
    text-align: center;
    justify-content: center;
}

label.center {
    text-align: center;
    justify-content: center;
}

label.left {
    text-align: left;
    justify-content: left;
}

label.right {
    text-align: right;
    justify-content: right;
}

div.center {
    text-align: center;
    justify-content: center;
}

div.left {
    text-align: left;
    justify-content: left;
}

div.right {
    text-align: right;
    justify-content: right;
}

.padRight10{
    padding-right: 10px;
}

.padLeft10{
    padding-left: 10px;
}

.padBottom30{
    padding-bottom: 30px;
}

.padBottom15{
    padding-bottom: 15px;
}

.box{
    width: 50%;
}

.width10{
    width: 10%;
}

.width11{
    width: 11%;
}

.width39{
    width: 39%;
}

.width40{
    width: 40%;
}

.width50{
    width: 50%;
}

input.width100{
    width: 100% !important;
}

.width100{
    width: 100% !important;
}

.noWidth{
    width: unset;
}

.background_darkGray{
    background-color: rgb(228, 228, 228);
}

input.checkbox{
    float: left;
    margin-top: 7px;
}